.header {
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
    width: 100%;
    margin-bottom: 18px;
}

.header h1 {
    padding: 10px;
    cursor: pointer;
    font-size: 7vw;
}


.header span {
    text-align: center;
    padding: 20px 5px 20px 0;
    margin-right: 10px;
    font-weight: 300;
}

@media(min-width:650px) {
    .header h1 {
        padding: 8px;
        cursor: pointer;
        font-size: 4.5vw;
    }

    .header span {
        text-align: center;
        padding: 35px 5px 35px 0;
        margin-right: 10px;
        font-weight: 400;
        font-size: 2vw;
    }
}

@media(width:820px) and (height:1180px) {
    .header h1 {
        padding: 15px;
        cursor: pointer;
        font-size: 4.5vw;
    }

    .header span {
        text-align: center;
        padding: 25px 5px 25px 0;
        margin-right: 10px;
        font-weight: 400;
        font-size: 1.7em;
    }
}

@media(min-width:1070px) {
    .header h1 {
        padding: 15px;
        cursor: pointer;
        font-size: 3vw;
    }

    .header span {
        text-align: center;
        padding: 25px 5px 25px 0;
        margin-right: 10px;
        font-weight: 400;
        font-size: 1.7em;
    }
}